In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [ ]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet

In [3]:
df = pd.read_parquet("yellow_tripdata_2023-01.parquet").iloc[:100]

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine("postgresql+psycopg://root:root@localhost:5432/ny_taxi")

In [6]:
print(pd.io.sql.get_schema(df, "yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [7]:
import pyarrow.parquet as pq

In [8]:
parquet_file = pq.ParquetFile("yellow_tripdata_2023-01.parquet")
parquet_iter = parquet_file.iter_batches(batch_size=1e5)

In [9]:
df = next(parquet_iter).to_pandas()

In [10]:
len(df)

100000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  float64
 4   trip_distance          100000 non-null  float64
 5   RatecodeID             100000 non-null  float64
 6   store_and_fwd_flag     100000 non-null  object
 7   PULocationID           100000 non-null  int64
 8   DOLocationID           100000 non-null  int64
 9   payment_type           100000 non-null  int64
 10  fare_amount            100000 non-null  float64
 11  extra                  100000 non-null  float64
 12  mta_tax                100000 non-null  float64
 13  tip_amount             100000 non-null  float64
 14  tolls_amount           100000 non-null  float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  congestion_surcharge   100000 non-null  float64
 18  airport_fee            100000 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 14.5+ MB

In [12]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [13]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 4.52 s, sys: 1.18 s, total: 5.69 s
Wall time: 7.72 s

-1

In [14]:
import time

In [15]:
while True:
    t_start = time.perf_counter()

    df = next(parquet_iter).to_pandas()

    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time.perf_counter()

    print(f"inserted another chunk, took {t_end - t_start:.3f} second(s)")

inserted another chunk, took 9.697 second(s)
inserted another chunk, took 7.777 second(s)
inserted another chunk, took 5.841 second(s)
inserted another chunk, took 7.743 second(s)
inserted another chunk, took 9.323 second(s)
inserted another chunk, took 8.427 second(s)
inserted another chunk, took 7.630 second(s)
inserted another chunk, took 15.224 second(s)
inserted another chunk, took 16.351 second(s)
inserted another chunk, took 14.728 second(s)
inserted another chunk, took 6.963 second(s)
inserted another chunk, took 11.303 second(s)
inserted another chunk, took 16.418 second(s)
inserted another chunk, took 14.702 second(s)
inserted another chunk, took 8.828 second(s)
inserted another chunk, took 16.328 second(s)
inserted another chunk, took 16.349 second(s)
inserted another chunk, took 17.721 second(s)
inserted another chunk, took 11.159 second(s)
inserted another chunk, took 10.124 second(s)
inserted another chunk, took 14.890 second(s)
inserted another chunk, took 10.638 second(s)
inserted another chunk, took 10.796 second(s)
inserted another chunk, took 7.227 second(s)
inserted another chunk, took 9.335 second(s)
inserted another chunk, took 13.196 second(s)
inserted another chunk, took 12.720 second(s)
inserted another chunk, took 16.547 second(s)
inserted another chunk, took 15.245 second(s)
inserted another chunk, took 12.124 second(s)

StopIteration:

In [ ]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

In [16]:
df_zones = pd.read_csv("taxi+_zone_lookup.csv")

In [17]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [18]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

-1